

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-title{
    letter-spacing: 4px;
    font-size: xx-large;

}

*{
    margin: 0px;
    padding: 0px;
    /* background-color: red; */
}



.filter-input{

    width: 100px;

}